<div class="info-section grid-x grid-margin-x">
  <div class="small-12 cell title"><h3>Annual Commitment</h3></div>
  <!-- <div class="small-12 cell subtitle"><h4>Paid monthly or annually</h4></div> -->
  <div class="small-12 cell subtitle"><h4>Overages billed at discounted rate</h4></div>
  <div class="slider-section grid-x commit">
    <div class="small-5 cell subtitle"><h4>Paid Monthly</h4></div>
    {{ui-slider
       ticks=[0,1]
       value=sliderIndex
       ticksSnapBounds=1
       tooltip='hide'
       min=0
       max=1
       class="small-2 cell"}}
     <div class="small-5 cell subtitle"><h4>Paid Annually</h4></div>
   </div>
   {{discount-calculator
      records=records
      ops=ops
      class="commit-section"
      baseDiscount=baseDiscount
      minDiscountThresholdRecords=minDiscountThresholdRecords
      minDiscountThresholdOps=minDiscountThresholdOps
      recordsTranche=recordsTranche
      opsTranche=opsTranche
      recordsDiscountMultiplier=recordsDiscountMultiplier
      opsDiscountMultiplier=opsDiscountMultiplier
      recordsTrancheCost=recordsTrancheCost
      opsTrancheCost=opsTrancheCost
      monthlyOption=monthlyOption
    }}
  <!-- {{#if monthlyOption}}
    {{monthly-commit records=records ops=ops class="commit-section"}}
  {{else}}
    {{annual-commit records=records ops=ops class="commit-section"}}
  {{/if}} -->
</div>
