<div class="info-section grid-x grid-margin-x">
  <div class="small-12 cell title"><h3>Month-to-month</h3></div>
  <div class="small-12 cell subtitle"><h4>Pay as you go and cancel anytime</h4></div>
  <div class="small-12 cell subtitle"><h4><br></h4></div>
  <div class="small-6 cell record-section">
    <div class="small-12 medium-2 cell">{{displayRecords}} Records</div>
    <div class="small-12 medium-2 cell">{{displayOps}} Operations</div>
    <div class="small-12 medium-2 cell">{{recordCostPerTrancheDisplay}} per 20K Records</div>
    <div class="small-12 medium-2 cell">{{opsCostPerTrancheDisplay}} per 50k Operations</div>
  </div>
  <div class="small-6 cell record-section">
    <!-- <div class="small-12 medium-2 cell">{{costRecords}}</div>
    <div class="small-12 medium-2 cell">{{costOps}}</div> -->
    <div class="small-12 medium-2 cell">{{totalCostDisplay}}/month</div>
  </div>
  <!-- <div class="small-12 medium-2 cell">  {{recordsDiscount}}</div> -->
  <!-- <div class="small-12 medium-2 cell">  {{costRecords}}</div> -->
  <!-- <div class="small-12 medium-2 cell">  {{opsDiscount}}</div> -->
  <!-- <div class="small-12 medium-2 cell">  {{costOps}}</div> -->


</div>
