<div class="{{if eligible 'grid-x side-bar' 'grid-x side-bar ineligible'}}">
  <div class="small-6 cell record-section">

    <div class="small-12 medium-2 cell">{{displayRecords}} Records</div>
    <div class="small-12 medium-2 cell">{{displayOps}} Operations</div>
    <div class="small-12 medium-2 cell">{{recordCostPerTrancheDisplay}} per 50K Records</div>
    <div class="small-12 medium-2 cell">{{opsCostPerTrancheDisplay}} per 100k Operations</div>
  </div>
  <div class="small-6 cell record-section">
    <div class="small-12 medium-2 cell">{{totalCostDisplay}}/month</div>
    {{#if annualOption}}
      <div class="small-12 medium-2 cell">{{annualCostDisplay}}/year paid up front</div>
    {{/if}}
  </div>
</div>
