<div class="{{if eligible 'grid-x side-bar' 'grid-x side-bar ineligible'}}">
  <div class="small-6 cell record-section">

    <div class="small-12 medium-2 cell">{{displayRecords}} Records</div>
    <div class="small-12 medium-2 cell">{{displayOps}} Operations</div>
    <div class="small-12 medium-2 cell">{{recordCostPerTrancheDisplay}} per 20K Records</div>
    <div class="small-12 medium-2 cell">{{opsCostPerTrancheDisplay}} per 50k Operations</div>
  </div>
  <div class="small-6 cell record-section">
    <!-- <div class="small-12 medium-2 cell">{{costRecords}}</div>
    <div class="small-12 medium-2 cell">{{costOps}}</div> -->
    <div class="small-12 medium-2 cell">{{totalCostDisplay}}/month</div>
  </div>
</div>
